<div class="card">
  <img class="card-img-top" src="holder.js/100x180/" alt="Title" />
  <div class="card-body">
    <h4 class="card-title">Table1</h4>
    <button class="btn btn-success"
    data-bs-toggle="modal"
    (click)="tableid=1"
    data-bs-target="#additem"
    >
      add item
    </button>
    <app-order-summary></app-order-summary>
  </div>
</div>



<div
  class="modal fade"
  id="additem"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"

  role="dialog"
  aria-labelledby="modalTitleId"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">
          Modal title
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="addwalaclose"
          #addwalaclose
        ></button>
      </div>
      <div class="modal-body">
        <input class="form-control"
        list="Menu" id="menu" [(ngModel)]="fooditem"
        placeholder="Select option">
    <datalist id="Menu">
        <option *ngFor="let f of foods" value="{{f.name}}">

    </datalist>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="addtotable(1)">Add to table</button>
      </div>
    </div>
  </div>
</div>
